In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [4]:
import pandas as pd

In [5]:
spark = SparkSession.builder.appName("m1").getOrCreate()
filepath = "Cleaned_DS_Jobs.csv"
df = spark.read.csv(filepath, header=True,inferSchema=True)
df.show()
df.printSchema()

+--------------------+---------------+------+-----------------+--------------------+--------------------+--------------------+--------------------+---------+-----------+------+-----+-------+
|           Job Title|Salary Estimate|Rating|         Location|                Size|   Type of ownership|            Industry|              Sector|job_state|company_age|python|spark|tableau|
+--------------------+---------------+------+-----------------+--------------------+--------------------+--------------------+--------------------+---------+-----------+------+-----+-------+
|   Sr Data Scientist|       137-171 |   3.1|     New York, NY|1001 to 5000 empl...|Nonprofit Organiz...|  Insurance Carriers|           Insurance|       NY|         27|     0|    0|      0|
|      Data Scientist|       137-171 |   4.2|    Chantilly, VA|5001 to 10000 emp...|    Company - Public|Research & Develo...|   Business Services|       VA|         52|     0|    0|      0|
|      Data Scientist|       137-171 |   3.8|       Boston, MA|1001 to 5000 empl...|Private Practice ...|          Consulting|   Business Services|       MA|         39|     1|    0|      0|
|      Data Scientist|       137-171 |   3.5|       Newton, MA|501 to 1000 emplo...|    Company - Public|Electrical & Elec...|       Manufacturing|       MA|         20|     1|    0|      0|
|      Data Scientist|       137-171 |   2.9|     New York, NY| 51 to 200 employees|   Company - Private|Advertising & Mar...|   Business Services|       NY|         22|     1|    0|      0|
|      Data Scientist|       137-171 |   4.2|Santa Barbara, CA| 51 to 200 employees|   Company - Private|Computer Hardware...|Information Techn...|       CA|         10|     1|    1|      0|
|Data Scientist / ...|       137-171 |   3.9|    Cambridge, MA|    10000+ employees|    Company - Public|Biotech & Pharmac...|Biotech & Pharmac...|       MA|         24|     1|    0|      0|
|      Data Scientist|       137-171 |   3.5|      Bedford, MA|1001 to 5000 empl...|    Company - Public|Consumer Electron...|              Retail|       MA|         30|     1|    0|      0|
|Staff Data Scient...|       137-171 |   4.4|    San Diego, CA|5001 to 10000 emp...|    Company - Public|Computer Hardware...|Information Techn...|       CA|         37|     0|    0|      0|
|      Data Scientist|       137-171 |   3.6|      Chicago, IL| 51 to 200 employees|   Company - Private|Enterprise Softwa...|Information Techn...|       IL|          6|     1|    0|      0|
|      Data Scientist|       137-171 |   4.5|      Herndon, VA|501 to 1000 emplo...|   Company - Private|Enterprise Softwa...|Information Techn...|       VA|          8|     1|    0|      0|
|      Data Scientist|       137-171 |   4.7|  Saint Louis, MO| 51 to 200 employees|   Company - Private|         IT Services|Information Techn...|       MO|          4|     1|    1|      0|
|Data Scientist - ...|       137-171 |   3.7|     Richland, WA|1001 to 5000 empl...|          Government|              Energy|Oil, Gas, Energy ...|       WA|         55|     0|    0|      0|
|        Data Modeler|       137-171 |   3.1|   Northbrook, IL|201 to 500 employees|   Company - Private|Chemical Manufact...|       Manufacturing|       IL|         47|     1|    0|      1|
|      Data Scientist|       137-171 |   3.4|   Washington, DC|1001 to 5000 empl...|   Company - Private|          Consulting|   Business Services|       DC|         34|     1|    0|      0|
|Experienced Data ...|       137-171 |   4.4|   Washington, DC|   1 to 50 employees|   Company - Private|    Federal Agencies|          Government|       DC|         23|     1|    1|      1|
|      Data Scientist|       137-171 |   3.5|      Memphis, TN|1001 to 5000 empl...|   Company - Private|Chemical Manufact...|       Manufacturing|       TN|         75|     1|    0|      0|
|     Data Analyst II|       137-171 |   4.2|        Plano, TX|5001 to 10000 emp...|    Company - Public|Enterprise Softwa...|Information Techn...|       TX|         32|     0|    0|      0|
|Medical Lab Scien...|       137-171 |   3.5|   West Grove, PA|5001 to 10000 emp...|Nonprofit Organiz...|Health Care Servi...|         Health Care|       PA|          3|     0|    0|      0|
|      Data Scientist|       137-171 |   3.2|     New York, NY| 51 to 200 employees|   Company - Private|Computer Hardware...|Information Techn...|       NY|          5|     0|    0|      0|
+--------------------+---------------+------+-----------------+--------------------+--------------------+--------------------+--------------------+---------+-----------+------+-----+-------+
only showing top 20 rows

root
 |-- Job Title: string (nullable = true)
 |-- Salary Estimate: string (nullable = true)
 |-- Rating: double (nullable = true)
 |-- Location: string (nullable = true)
 |-- Size: string (nullable = true)
 |-- Type of ownership: string (nullable = true)
 |-- Industry: string (nullable = true)
 |-- Sector: string (nullable = true)
 |-- job_state: string (nullable = true)
 |-- company_age: integer (nullable = true)
 |-- python: integer (nullable = true)
 |-- spark: integer (nullable = true)
 |-- tableau: integer (nullable = true)

In [6]:
df.select([count(when(isnull(c) | isnan(c),c)).alias(c) for c in df.columns]).show()
missing_values = df.select([count(when(isnull(c), c)).alias(c) for c in df.columns])
missing_values.show()

+---------+---------------+------+--------+----+-----------------+--------+------+---------+-----------+------+-----+-------+
|Job Title|Salary Estimate|Rating|Location|Size|Type of ownership|Industry|Sector|job_state|company_age|python|spark|tableau|
+---------+---------------+------+--------+----+-----------------+--------+------+---------+-----------+------+-----+-------+
|        0|              0|     0|       0|  27|               27|      71|    71|        0|          0|     0|    0|      0|
+---------+---------------+------+--------+----+-----------------+--------+------+---------+-----------+------+-----+-------+

+---------+---------------+------+--------+----+-----------------+--------+------+---------+-----------+------+-----+-------+
|Job Title|Salary Estimate|Rating|Location|Size|Type of ownership|Industry|Sector|job_state|company_age|python|spark|tableau|
+---------+---------------+------+--------+----+-----------------+--------+------+---------+-----------+------+-----+-------+
|        0|              0|     0|       0|  27|               27|      71|    71|        0|          0|     0|    0|      0|
+---------+---------------+------+--------+----+-----------------+--------+------+---------+-----------+------+-----+-------+

In [7]:
# 1. Split the salary estimate column into two separate fields (min_salary, max_salary)
# Assuming the salary column is named 'salary_estimate' and looks like "min-max"
df = df.withColumn("min_salary", split(col("Salary Estimate"), "-")[0].cast("int"))
df = df.withColumn("max_salary", split(col("Salary Estimate"), "-")[1].cast("int"))

In [8]:
# df.show()

In [9]:
#2
df = df.withColumn("average_salary", (col("min_salary") + col("max_salary")) / 2)

In [10]:
#3
df = df.withColumn("rating", when((col("rating") == -1) | (col("rating") == 0), 1).otherwise(col("rating")))

In [11]:
df.show()

+--------------------+---------------+------+-----------------+--------------------+--------------------+--------------------+--------------------+---------+-----------+------+-----+-------+----------+----------+--------------+
|           Job Title|Salary Estimate|rating|         Location|                Size|   Type of ownership|            Industry|              Sector|job_state|company_age|python|spark|tableau|min_salary|max_salary|average_salary|
+--------------------+---------------+------+-----------------+--------------------+--------------------+--------------------+--------------------+---------+-----------+------+-----+-------+----------+----------+--------------+
|   Sr Data Scientist|       137-171 |   3.1|     New York, NY|1001 to 5000 empl...|Nonprofit Organiz...|  Insurance Carriers|           Insurance|       NY|         27|     0|    0|      0|       137|       171|         154.0|
|      Data Scientist|       137-171 |   4.2|    Chantilly, VA|5001 to 10000 emp...|    Company - Public|Research & Develo...|   Business Services|       VA|         52|     0|    0|      0|       137|       171|         154.0|
|      Data Scientist|       137-171 |   3.8|       Boston, MA|1001 to 5000 empl...|Private Practice ...|          Consulting|   Business Services|       MA|         39|     1|    0|      0|       137|       171|         154.0|
|      Data Scientist|       137-171 |   3.5|       Newton, MA|501 to 1000 emplo...|    Company - Public|Electrical & Elec...|       Manufacturing|       MA|         20|     1|    0|      0|       137|       171|         154.0|
|      Data Scientist|       137-171 |   2.9|     New York, NY| 51 to 200 employees|   Company - Private|Advertising & Mar...|   Business Services|       NY|         22|     1|    0|      0|       137|       171|         154.0|
|      Data Scientist|       137-171 |   4.2|Santa Barbara, CA| 51 to 200 employees|   Company - Private|Computer Hardware...|Information Techn...|       CA|         10|     1|    1|      0|       137|       171|         154.0|
|Data Scientist / ...|       137-171 |   3.9|    Cambridge, MA|    10000+ employees|    Company - Public|Biotech & Pharmac...|Biotech & Pharmac...|       MA|         24|     1|    0|      0|       137|       171|         154.0|
|      Data Scientist|       137-171 |   3.5|      Bedford, MA|1001 to 5000 empl...|    Company - Public|Consumer Electron...|              Retail|       MA|         30|     1|    0|      0|       137|       171|         154.0|
|Staff Data Scient...|       137-171 |   4.4|    San Diego, CA|5001 to 10000 emp...|    Company - Public|Computer Hardware...|Information Techn...|       CA|         37|     0|    0|      0|       137|       171|         154.0|
|      Data Scientist|       137-171 |   3.6|      Chicago, IL| 51 to 200 employees|   Company - Private|Enterprise Softwa...|Information Techn...|       IL|          6|     1|    0|      0|       137|       171|         154.0|
|      Data Scientist|       137-171 |   4.5|      Herndon, VA|501 to 1000 emplo...|   Company - Private|Enterprise Softwa...|Information Techn...|       VA|          8|     1|    0|      0|       137|       171|         154.0|
|      Data Scientist|       137-171 |   4.7|  Saint Louis, MO| 51 to 200 employees|   Company - Private|         IT Services|Information Techn...|       MO|          4|     1|    1|      0|       137|       171|         154.0|
|Data Scientist - ...|       137-171 |   3.7|     Richland, WA|1001 to 5000 empl...|          Government|              Energy|Oil, Gas, Energy ...|       WA|         55|     0|    0|      0|       137|       171|         154.0|
|        Data Modeler|       137-171 |   3.1|   Northbrook, IL|201 to 500 employees|   Company - Private|Chemical Manufact...|       Manufacturing|       IL|         47|     1|    0|      1|       137|       171|         154.0|
|      Data Scientist|       137-171 |   3.4|   Washington, DC|1001 to 5000 empl...|   Company - Private|          Consulting|   Business Services|       DC|         34|     1|    0|      0|       137|       171|         154.0|
|Experienced Data ...|       137-171 |   4.4|   Washington, DC|   1 to 50 employees|   Company - Private|    Federal Agencies|          Government|       DC|         23|     1|    1|      1|       137|       171|         154.0|
|      Data Scientist|       137-171 |   3.5|      Memphis, TN|1001 to 5000 empl...|   Company - Private|Chemical Manufact...|       Manufacturing|       TN|         75|     1|    0|      0|       137|       171|         154.0|
|     Data Analyst II|       137-171 |   4.2|        Plano, TX|5001 to 10000 emp...|    Company - Public|Enterprise Softwa...|Information Techn...|       TX|         32|     0|    0|      0|       137|       171|         154.0|
|Medical Lab Scien...|       137-171 |   3.5|   West Grove, PA|5001 to 10000 emp...|Nonprofit Organiz...|Health Care Servi...|         Health Care|       PA|          3|     0|    0|      0|       137|       171|         154.0|
|      Data Scientist|       137-171 |   3.2|     New York, NY| 51 to 200 employees|   Company - Private|Computer Hardware...|Information Techn...|       NY|          5|     0|    0|      0|       137|       171|         154.0|
+--------------------+---------------+------+-----------------+--------------------+--------------------+--------------------+--------------------+---------+-----------+------+-----+-------+----------+----------+--------------+
only showing top 20 rows

In [12]:
#4th
for column in df.columns:
    df = df.withColumn(column, when(col(column).isNull(), -1).otherwise(col(column)))

In [13]:
df.select([count(when(isnull(c) | isnan(c),c)).alias(c) for c in df.columns]).show()

+---------+---------------+------+--------+----+-----------------+--------+------+---------+-----------+------+-----+-------+----------+----------+--------------+
|Job Title|Salary Estimate|rating|Location|Size|Type of ownership|Industry|Sector|job_state|company_age|python|spark|tableau|min_salary|max_salary|average_salary|
+---------+---------------+------+--------+----+-----------------+--------+------+---------+-----------+------+-----+-------+----------+----------+--------------+
|        0|              0|     0|       0|   0|                0|       0|     0|        0|          0|     0|    0|      0|         0|         0|             0|
+---------+---------------+------+--------+----+-----------------+--------+------+---------+-----------+------+-----+-------+----------+----------+--------------+

In [14]:
df.printSchema()

root
 |-- Job Title: string (nullable = true)
 |-- Salary Estimate: string (nullable = true)
 |-- rating: double (nullable = true)
 |-- Location: string (nullable = true)
 |-- Size: string (nullable = true)
 |-- Type of ownership: string (nullable = true)
 |-- Industry: string (nullable = true)
 |-- Sector: string (nullable = true)
 |-- job_state: string (nullable = true)
 |-- company_age: integer (nullable = true)
 |-- python: integer (nullable = true)
 |-- spark: integer (nullable = true)
 |-- tableau: integer (nullable = true)
 |-- min_salary: integer (nullable = true)
 |-- max_salary: integer (nullable = true)
 |-- average_salary: double (nullable = true)

In [15]:
# #5th
df1=df.groupBy('Job Title').agg(avg('average_salary'))
df1.show()

+--------------------+-------------------+
|           Job Title|avg(average_salary)|
+--------------------+-------------------+
|Senior Data Scien...|  99.33333333333333|
|Clinical Data Ana...|              164.5|
|Senior Business I...|               90.0|
|Data Analyst/Engi...|              115.5|
|Staff BI and Data...|              107.0|
|Intelligence Data...|              90.75|
|Report Writer-Dat...|               92.5|
|Hydrogen/Tritium ...|              148.0|
|Business Intellig...|             109.25|
|        Data Modeler|              154.0|
|Scientist / Group...|              197.5|
|Senior Research S...|              105.0|
|Software Engineer...|              164.5|
|   Sr Data Scientist|             126.75|
|COMPUTER SCIENTIS...|              271.5|
|Data Scientist/Ma...|              125.5|
|Data Scientist - ...|              120.5|
|  Decision Scientist|               94.5|
|Data Scientist - ...|              97.75|
|Data Scientist / ...|              128.5|
+--------------------+-------------------+
only showing top 20 rows

In [16]:
#6th
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
import random
values = ["Small", "Medium", "Large"]

def assign():
    return random.choice(values)

my_udf = udf(assign, StringType())
df = df.withColumn("SizeValue", my_udf())
df = df.drop("Size")

df.show()

+--------------------+---------------+------+-----------------+--------------------+--------------------+--------------------+---------+-----------+------+-----+-------+----------+----------+--------------+---------+
|           Job Title|Salary Estimate|rating|         Location|   Type of ownership|            Industry|              Sector|job_state|company_age|python|spark|tableau|min_salary|max_salary|average_salary|SizeValue|
+--------------------+---------------+------+-----------------+--------------------+--------------------+--------------------+---------+-----------+------+-----+-------+----------+----------+--------------+---------+
|   Sr Data Scientist|       137-171 |   3.1|     New York, NY|Nonprofit Organiz...|  Insurance Carriers|           Insurance|       NY|         27|     0|    0|      0|       137|       171|         154.0|    Large|
|      Data Scientist|       137-171 |   4.2|    Chantilly, VA|    Company - Public|Research & Develo...|   Business Services|       VA|         52|     0|    0|      0|       137|       171|         154.0|    Small|
|      Data Scientist|       137-171 |   3.8|       Boston, MA|Private Practice ...|          Consulting|   Business Services|       MA|         39|     1|    0|      0|       137|       171|         154.0|    Large|
|      Data Scientist|       137-171 |   3.5|       Newton, MA|    Company - Public|Electrical & Elec...|       Manufacturing|       MA|         20|     1|    0|      0|       137|       171|         154.0|    Small|
|      Data Scientist|       137-171 |   2.9|     New York, NY|   Company - Private|Advertising & Mar...|   Business Services|       NY|         22|     1|    0|      0|       137|       171|         154.0|    Large|
|      Data Scientist|       137-171 |   4.2|Santa Barbara, CA|   Company - Private|Computer Hardware...|Information Techn...|       CA|         10|     1|    1|      0|       137|       171|         154.0|    Small|
|Data Scientist / ...|       137-171 |   3.9|    Cambridge, MA|    Company - Public|Biotech & Pharmac...|Biotech & Pharmac...|       MA|         24|     1|    0|      0|       137|       171|         154.0|   Medium|
|      Data Scientist|       137-171 |   3.5|      Bedford, MA|    Company - Public|Consumer Electron...|              Retail|       MA|         30|     1|    0|      0|       137|       171|         154.0|    Small|
|Staff Data Scient...|       137-171 |   4.4|    San Diego, CA|    Company - Public|Computer Hardware...|Information Techn...|       CA|         37|     0|    0|      0|       137|       171|         154.0|    Small|
|      Data Scientist|       137-171 |   3.6|      Chicago, IL|   Company - Private|Enterprise Softwa...|Information Techn...|       IL|          6|     1|    0|      0|       137|       171|         154.0|    Large|
|      Data Scientist|       137-171 |   4.5|      Herndon, VA|   Company - Private|Enterprise Softwa...|Information Techn...|       VA|          8|     1|    0|      0|       137|       171|         154.0|    Large|
|      Data Scientist|       137-171 |   4.7|  Saint Louis, MO|   Company - Private|         IT Services|Information Techn...|       MO|          4|     1|    1|      0|       137|       171|         154.0|    Large|
|Data Scientist - ...|       137-171 |   3.7|     Richland, WA|          Government|              Energy|Oil, Gas, Energy ...|       WA|         55|     0|    0|      0|       137|       171|         154.0|    Large|
|        Data Modeler|       137-171 |   3.1|   Northbrook, IL|   Company - Private|Chemical Manufact...|       Manufacturing|       IL|         47|     1|    0|      1|       137|       171|         154.0|   Medium|
|      Data Scientist|       137-171 |   3.4|   Washington, DC|   Company - Private|          Consulting|   Business Services|       DC|         34|     1|    0|      0|       137|       171|         154.0|    Large|
|Experienced Data ...|       137-171 |   4.4|   Washington, DC|   Company - Private|    Federal Agencies|          Government|       DC|         23|     1|    1|      1|       137|       171|         154.0|    Large|
|      Data Scientist|       137-171 |   3.5|      Memphis, TN|   Company - Private|Chemical Manufact...|       Manufacturing|       TN|         75|     1|    0|      0|       137|       171|         154.0|    Small|
|     Data Analyst II|       137-171 |   4.2|        Plano, TX|    Company - Public|Enterprise Softwa...|Information Techn...|       TX|         32|     0|    0|      0|       137|       171|         154.0|    Small|
|Medical Lab Scien...|       137-171 |   3.5|   West Grove, PA|Nonprofit Organiz...|Health Care Servi...|         Health Care|       PA|          3|     0|    0|      0|       137|       171|         154.0|    Large|
|      Data Scientist|       137-171 |   3.2|     New York, NY|   Company - Private|Computer Hardware...|Information Techn...|       NY|          5|     0|    0|      0|       137|       171|         154.0|    Small|
+--------------------+---------------+------+-----------------+--------------------+--------------------+--------------------+---------+-----------+------+-----+-------+----------+----------+--------------+---------+
only showing top 20 rows

In [17]:
df1=df.groupBy('SizeValue').agg(avg('average_salary'))
df1.show()

+---------+-------------------+
|SizeValue|avg(average_salary)|
+---------+-------------------+
|   Medium| 122.40375586854461|
|    Small| 124.71615720524018|
|    Large| 124.19954128440367|
+---------+-------------------+

In [18]:
pandas_df = df.toPandas()
pandas_df.to_csv(filepath, index=False)

In [19]:
# pandas_df.isnull().sum()

In [20]:
df.show()

+--------------------+---------------+------+-----------------+--------------------+--------------------+------+---------+-----------+------+-----+-------+----------+----------+--------------+---------+
|           Job Title|Salary Estimate|rating|         Location|   Type of ownership|            Industry|Sector|job_state|company_age|python|spark|tableau|min_salary|max_salary|average_salary|SizeValue|
+--------------------+---------------+------+-----------------+--------------------+--------------------+------+---------+-----------+------+-----+-------+----------+----------+--------------+---------+
|   Sr Data Scientist|       137-171 |   3.1|     New York, NY|  Insurance Carriers|           Insurance|    NY|       27|          0|     0|    0|    137|       137|       171|         154.0|    Small|
|      Data Scientist|       137-171 |   4.2|    Chantilly, VA|Research & Develo...|   Business Services|    VA|       52|          0|     0|    0|    137|       137|       171|         154.0|   Medium|
|      Data Scientist|       137-171 |   3.8|       Boston, MA|          Consulting|   Business Services|    MA|       39|          1|     0|    0|    137|       137|       171|         154.0|    Small|
|      Data Scientist|       137-171 |   3.5|       Newton, MA|Electrical & Elec...|       Manufacturing|    MA|       20|          1|     0|    0|    137|       137|       171|         154.0|   Medium|
|      Data Scientist|       137-171 |   2.9|     New York, NY|Advertising & Mar...|   Business Services|    NY|       22|          1|     0|    0|    137|       137|       171|         154.0|    Small|
|      Data Scientist|       137-171 |   4.2|Santa Barbara, CA|Computer Hardware...|Information Techn...|    CA|       10|          1|     1|    0|    137|       137|       171|         154.0|    Large|
|Data Scientist / ...|       137-171 |   3.9|    Cambridge, MA|Biotech & Pharmac...|Biotech & Pharmac...|    MA|       24|          1|     0|    0|    137|       137|       171|         154.0|    Large|
|      Data Scientist|       137-171 |   3.5|      Bedford, MA|Consumer Electron...|              Retail|    MA|       30|          1|     0|    0|    137|       137|       171|         154.0|    Large|
|Staff Data Scient...|       137-171 |   4.4|    San Diego, CA|Computer Hardware...|Information Techn...|    CA|       37|          0|     0|    0|    137|       137|       171|         154.0|    Small|
|      Data Scientist|       137-171 |   3.6|      Chicago, IL|Enterprise Softwa...|Information Techn...|    IL|        6|          1|     0|    0|    137|       137|       171|         154.0|    Small|
|      Data Scientist|       137-171 |   4.5|      Herndon, VA|Enterprise Softwa...|Information Techn...|    VA|        8|          1|     0|    0|    137|       137|       171|         154.0|    Large|
|      Data Scientist|       137-171 |   4.7|  Saint Louis, MO|         IT Services|Information Techn...|    MO|        4|          1|     1|    0|    137|       137|       171|         154.0|    Large|
|Data Scientist - ...|       137-171 |   3.7|     Richland, WA|              Energy|Oil, Gas, Energy ...|    WA|       55|          0|     0|    0|    137|       137|       171|         154.0|    Large|
|        Data Modeler|       137-171 |   3.1|   Northbrook, IL|Chemical Manufact...|       Manufacturing|    IL|       47|          1|     0|    1|    137|       137|       171|         154.0|    Large|
|      Data Scientist|       137-171 |   3.4|   Washington, DC|          Consulting|   Business Services|    DC|       34|          1|     0|    0|    137|       137|       171|         154.0|   Medium|
|Experienced Data ...|       137-171 |   4.4|   Washington, DC|    Federal Agencies|          Government|    DC|       23|          1|     1|    1|    137|       137|       171|         154.0|    Large|
|      Data Scientist|       137-171 |   3.5|      Memphis, TN|Chemical Manufact...|       Manufacturing|    TN|       75|          1|     0|    0|    137|       137|       171|         154.0|    Large|
|     Data Analyst II|       137-171 |   4.2|        Plano, TX|Enterprise Softwa...|Information Techn...|    TX|       32|          0|     0|    0|    137|       137|       171|         154.0|   Medium|
|Medical Lab Scien...|       137-171 |   3.5|   West Grove, PA|Health Care Servi...|         Health Care|    PA|        3|          0|     0|    0|    137|       137|       171|         154.0|    Large|
|      Data Scientist|       137-171 |   3.2|     New York, NY|Computer Hardware...|Information Techn...|    NY|        5|          0|     0|    0|    137|       137|       171|         154.0|   Medium|
+--------------------+---------------+------+-----------------+--------------------+--------------------+------+---------+-----------+------+-----+-------+----------+----------+--------------+---------+
only showing top 20 rows