In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import pandas as pd

In [2]:
spark = SparkSession.builder.appName("test").getOrCreate()
filepath = "emp_data.csv"
df = spark.read.csv(filepath , header=True,inferSchema=True)
df.printSchema()
df.show()

root
 |-- EmpID: integer (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- StartDate: string (nullable = true)
 |-- ExitDate: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- Supervisor: string (nullable = true)
 |-- BusinessUnit: string (nullable = true)
 |-- EmployeeStatus: string (nullable = true)
 |-- EmployeeType: string (nullable = true)
 |-- PayZone: string (nullable = true)
 |-- EmployeeClassificationType: string (nullable = true)
 |-- TerminationType: string (nullable = true)
 |-- DepartmentType: string (nullable = true)
 |-- Division: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- State: string (nullable = true)
 |-- JobFunctionDescription: string (nullable = true)
 |-- GenderCode: string (nullable = true)
 |-- LocationCode: integer (nullable = true)
 |-- RaceDesc: string (nullable = true)
 |-- MaritalDesc: string (nullable = true)
 |-- Performance Score: string (nullable = true)
 |-- Current Employee Rating: integer (nullable = true)
 |-- FormattedDate: string (nullable = true)

+-----+---------+--------------+---------+---------+--------------------+--------------------+------------+----------------+------------+-------+--------------------------+---------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-------------+
|EmpID|FirstName|      LastName|StartDate| ExitDate|               Title|          Supervisor|BusinessUnit|  EmployeeStatus|EmployeeType|PayZone|EmployeeClassificationType|TerminationType|   DepartmentType|            Division|       DOB|State|JobFunctionDescription|GenderCode|LocationCode|RaceDesc|MaritalDesc|Performance Score|Current Employee Rating|FormattedDate|
+-----+---------+--------------+---------+---------+--------------------+--------------------+------------+----------------+------------+-------+--------------------------+---------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-------------+
| 3461|  Lincoln|       Compton|18-Jul-19|01-Oct-21|  Area Sales Manager|        Tammy Conner|          EW|    Future Start|   Full-Time| Zone C|                 Part-Time|    Resignation|            Sales|       General - Con|29-12-1997|   CO|               Foreman|      Male|       78046|Hispanic|    Married|Needs Improvement|                      1|   18/07/2019|
| 3736|   Carsen|       Wheeler|18-Oct-20|22-Mar-23|Production Techni...|       Kimberly Soto|         SVG|          Active|   Full-Time| Zone A|                 Part-Time|    Resignation|Production       |Wireline Construc...|02-07-1976|   MA|               Laborer|      Male|       95345|   Other|    Married|      Fully Meets|                      2|   18/10/2020|
| 3928|  Audrina|            Yu|27-Jan-21|18-Oct-21|    Network Engineer|       Walter Powell|         TNS|          Active|   Full-Time| Zone A|                 Temporary|    Resignation|            IT/IS|       General - Con|11-07-1956|   MA|               Laborer|      Male|       59834|   White|    Widowed|      Fully Meets|                      3|   27/01/2021|
| 3574|     Anna|Von Massenbach|18-May-21|04-Jan-22|Production Techni...|      Timothy Weaver|         WBL|    Future Start|    Contract| Zone B|                 Full-Time|    Involuntary|Production       |         Underground|06-05-1951|   MA|               Laborer|    Female|        2124|Hispanic|    Widowed|      Fully Meets|                      1|   18/05/2021|
| 3883|    Noemi|        Brewer|06-May-22|26-Sep-22|          IT Support|      Jacob Hamilton|         BPC|          Active|    Contract| Zone B|                 Full-Time|    Involuntary|            IT/IS|    Field Operations|16-06-1991|   MA|         Administrator|    Female|       11294|   White|    Widowed|      Fully Meets|                      3|   06/05/2022|
| 3847|  Gilbert|         Klein|24-Feb-19|11-Jun-20|          IT Support|   Gregory Rodriguez|          PL|          Active|   Part-Time| Zone B|                 Temporary|     Retirement|            IT/IS|    Field Operations|06-09-1998|   MA|               Laborer|      Male|       53800|Hispanic|     Single|      Fully Meets|                      3|   24/02/2019|
| 3879|     Liam|         Hanna|08-Feb-19|24-Feb-23|    Network Engineer|       Brian Aguirre|         PYZ|          Active|   Full-Time| Zone C|                 Part-Time|    Involuntary|            IT/IS|    Field Operations|13-01-1996|   MA|                 Clerk|      Male|       16655|Hispanic|    Married|      Fully Meets|                      3|   08/02/2019|
| 3893|    Lukas|       Freeman|22-Mar-23|28-Jul-23|          IT Support|     Allison Shannon|          EW|          Active|   Full-Time| Zone B|                 Part-Time|    Involuntary|            IT/IS|       General - Con|15-04-1953|   MA|               Laborer|    Female|       68298|   Asian|    Married|      Fully Meets|                      3|   22/03/2023|
| 3820|    Anita|       Shepard|11-Aug-18|21-May-21|    Network Engineer|         George Tran|          EW|          Active|    Contract| Zone C|                 Full-Time|      Voluntary|            IT/IS|       General - Con|29-09-1976|   MA|               Foreman|    Female|        1773|   Other|   Divorced|      Fully Meets|                      3|   11/08/2018|
| 3592|    Andre|        Guzman|05-Oct-21|18-Jun-22|Production Techni...|Mrs. Audrey Gonza...|         TNS|    Future Start|    Contract| Zone B|                 Full-Time|      Voluntary|Production       |    Field Operations|23-12-1998|   MA|            Technician|      Male|        9454|   Other|     Single|      Fully Meets|                      3|   05/10/2021|
| 3703|  Addisyn|      Guerrero|31-Aug-20|26-Jun-22|Production Techni...|            Cory Lee|          EW|          Active|   Part-Time| Zone A|                 Part-Time|    Resignation|Production       |           Engineers|15-02-1951|   MA|              Engineer|    Female|       87563|   White|    Widowed|          Exceeds|                      4|   31/08/2020|
| 3525|  Clayton|     Mccormick|03-Jul-22|10-Jan-23|  Area Sales Manager|      Stephanie Duke|         MSC|    Future Start|    Contract| Zone B|                 Temporary|     Retirement|            Sales|       General - Con|29-01-1967|   TX|               Foreman|      Male|       72264|Hispanic|     Single|      Fully Meets|                      2|   03/07/2022|
| 3814|    Jyoti|        Lajiri|07-Jan-19|05-Sep-20|Sr. Network Engineer|      Karen Crawford|          EW|Leave of Absence|   Part-Time| Zone C|                 Full-Time|     Retirement|            IT/IS|           Engineers|17-04-1955|   MA|           Coordinator|      Male|        2169|   Black|    Widowed|      Fully Meets|                      3|   07/01/2019|
| 3822|  Katrina|       Lambert|24-Sep-19|04-Apr-22|    Network Engineer|   Calvin Williamson|         WBL|          Active|   Full-Time| Zone B|                 Part-Time|     Retirement| Executive Office|       General - Con|18-09-1975|   MA|            Technician|      Male|       56727|Hispanic|   Divorced|      Fully Meets|                      3|   24/09/2019|
| 3766|    Elisa|         Henry|02-Feb-19|03-Feb-23|Production Techni...|       Taylor Morris|         PYZ|          Active|   Part-Time| Zone A|                 Part-Time|    Resignation|Production       |Yard (Material Ha...|10-03-1943|   MA|               Manager|    Female|       10110|   Black|    Widowed|      Fully Meets|                      3|   02/02/2019|
| 3807|    Mayra|          Moss|15-Sep-21|10-Nov-21|Production Techni...|        George Doyle|          EW|          Active|    Contract| Zone C|                 Temporary|    Resignation|Production       |Project Managemen...|16-05-1964|   MA|               Manager|      Male|       84074|   Asian|     Single|      Fully Meets|                      3|   15/09/2021|
| 3512|   Tyrone|          Sosa|17-Apr-23|22-Jun-23|  Area Sales Manager|       Lindsay Chang|         NEL|    Future Start|    Contract| Zone C|                 Temporary|      Voluntary|            Sales|Yard (Material Ha...|25-10-1996|   TX|           Coordinator|    Female|       58860|   Black|     Single|      Fully Meets|                      2|   17/04/2023|
| 3541|    Aaron|         Weber|06-Apr-20|24-Jul-23|  Area Sales Manager|      Melanie Garcia|         SVG|          Active|   Full-Time| Zone B|                 Full-Time|    Involuntary|            Sales|    Field Operations|27-10-1991|   IN|            Technician|      Male|       78938|   Black|    Married|          Exceeds|                      2|   06/04/2020|
| 3675|    Mario|          Mays|08-Jun-20|29-Dec-22|Production Techni...|      Melissa Torres|        CCDR|          Active|   Full-Time| Zone C|                 Full-Time|    Resignation|Production       |           Engineers|28-08-1952|   MA|            Technician|    Female|       70090|Hispanic|   Divorced|      Fully Meets|                      3|   08/06/2020|
| 3518|  Roberto|       Michael|10-Apr-21|04-Jul-22|  Area Sales Manager|        Cheryl Henry|         MSC|          Active|    Contract| Zone B|                 Part-Time|    Involuntary|            Sales|       General - Eng|24-05-1969|   CA|           Coordinator|    Female|       13249|Hispanic|    Married|      Fully Meets|                      2|   10/04/2021|
+-----+---------+--------------+---------+---------+--------------------+--------------------+------------+----------------+------------+-------+--------------------------+---------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-------------+
only showing top 20 rows

In [4]:
#to check null values for each 
df.select([count(when(isnull(c) | isnan(c) , c) ).alias(c) for c in df.columns]).show()

+-----+---------+--------+---------+--------+-----+----------+------------+--------------+------------+-------+--------------------------+---------------+--------------+--------+---+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-------------+
|EmpID|FirstName|LastName|StartDate|ExitDate|Title|Supervisor|BusinessUnit|EmployeeStatus|EmployeeType|PayZone|EmployeeClassificationType|TerminationType|DepartmentType|Division|DOB|State|JobFunctionDescription|GenderCode|LocationCode|RaceDesc|MaritalDesc|Performance Score|Current Employee Rating|FormattedDate|
+-----+---------+--------+---------+--------+-----+----------+------------+--------------+------------+-------+--------------------------+---------------+--------------+--------+---+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-------------+
|    0|        0|       0|        0|     263|    0|         0|           0|             0|           0|      0|                         0|              0|             0|       0|  0|    0|                     0|         0|           0|       0|          0|                0|                      0|            0|
+-----+---------+--------+---------+--------+-----+----------+------------+--------------+------------+-------+--------------------------+---------------+--------------+--------+---+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-------------+

In [5]:
df.printSchema()

root
 |-- EmpID: integer (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- StartDate: string (nullable = true)
 |-- ExitDate: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- Supervisor: string (nullable = true)
 |-- BusinessUnit: string (nullable = true)
 |-- EmployeeStatus: string (nullable = true)
 |-- EmployeeType: string (nullable = true)
 |-- PayZone: string (nullable = true)
 |-- EmployeeClassificationType: string (nullable = true)
 |-- TerminationType: string (nullable = true)
 |-- DepartmentType: string (nullable = true)
 |-- Division: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- State: string (nullable = true)
 |-- JobFunctionDescription: string (nullable = true)
 |-- GenderCode: string (nullable = true)
 |-- LocationCode: integer (nullable = true)
 |-- RaceDesc: string (nullable = true)
 |-- MaritalDesc: string (nullable = true)
 |-- Performance Score: string (nullable = true)
 |-- Current Employee Rating: integer (nullable = true)
 |-- FormattedDate: string (nullable = true)

In [8]:
#1
df = df.withColumn("LastName",when(isnull(col("LastName") ), "Unknown").otherwise(col("LastName")))
df = df.dropna(subset = ["EmpID", "StartDate"])

In [11]:
df.count()

552

In [15]:
#2 remove outliers
# Cap current empliyee rating between 1 and 5
df = df.withColumn("Current Employee Rating", when(col("Current Employee Rating")<1,1).when(col("Current Employee Rating")>4,4).otherwise(col("Current Employee Rating")))

df.select("LocationCode").distinct().show()

+------------+
|LocationCode|
+------------+
|        2122|
|       97413|
|       80424|
|       56687|
|       75321|
|       49449|
|        1460|
|       78046|
|        9454|
|       44553|
|        8779|
|       29811|
|       57754|
|       65321|
|       39859|
|       74388|
|       31207|
|       34011|
|       49914|
|       60107|
+------------+
only showing top 20 rows

In [16]:
#checking values of cer
df.select("Current Employee Rating").distinct().show()

+-----------------------+
|Current Employee Rating|
+-----------------------+
|                      1|
|                      3|
|                      4|
|                      2|
+-----------------------+

In [17]:
#3
df=df.dropDuplicates()

In [18]:
df.count()

552

In [19]:
#4 count the number of employees for each department for every designation
ans = df.groupBy(trim("DepartmentType"),trim("Title")).count()
ans.show()

+--------------------+--------------------+-----+
|trim(DepartmentType)|         trim(Title)|count|
+--------------------+--------------------+-----+
|               IT/IS|Principal Data Ar...|    8|
|               IT/IS|        Data Analyst|   11|
|          Production|Production Techni...|   61|
|               IT/IS|Sr. Network Engineer|   30|
|          Production|    Network Engineer|    1|
|    Executive Office|    Network Engineer|   18|
|               IT/IS|    Network Engineer|   22|
|          Production|Production Techni...|    1|
|          Production|Production Techni...|  190|
|               IT/IS|      Data Architect|    2|
|               IT/IS|  Area Sales Manager|    7|
|               Sales|  Area Sales Manager|  119|
|               IT/IS|Enterprise Architect|    5|
|               IT/IS|          IT Support|   44|
|               Sales| Area Sales Manager?|    1|
|               Sales| Area Sales Manager.|    1|
|               IT/IS|Software Engineer...|    1|
|               IT/IS|      Sr. Accountant|    4|
|               IT/IS|             Sr. DBA|    6|
|               IT/IS|Database Administ...|   15|
+--------------------+--------------------+-----+
only showing top 20 rows

In [21]:
#5 for each department find the employee with thte highest performance score
ans = df.groupBy(trim("DepartmentType").alias("Dept")).agg(max("Current Employee Rating").alias("MaxPerformanceScore"))
ans.show()

+--------------------+-------------------+
|                Dept|MaxPerformanceScore|
+--------------------+-------------------+
|               Sales|                  4|
|          Production|                  4|
|    Executive Office|                  3|
|Software Engineering|                  3|
|               IT/IS|                  4|
+--------------------+-------------------+

In [ ]:
pandas_df = df.toPandas()
pandas_df.to_csv(output_path,index=False)