In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [2]:
import pandas as pd

In [3]:
spark = SparkSession.builder.appName("q2").getOrCreate()
file_path = "Sales data.csv"
df = spark.read.csv(file_path,header=True,inferSchema=True)
df.printSchema()
df.show()

root
 |-- _c0: integer (nullable = true)
 |-- Order ID: integer (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity Ordered: integer (nullable = true)
 |-- Price Each: double (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Purchase Address: string (nullable = true)
 |-- Month: integer (nullable = true)
 |-- Sales: double (nullable = true)
 |-- City: string (nullable = true)
 |-- Hour: integer (nullable = true)

+----+--------+--------------------+----------------+----------+----------------+--------------------+-----+------+--------------+----+
| _c0|Order ID|             Product|Quantity Ordered|Price Each|      Order Date|    Purchase Address|Month| Sales|          City|Hour|
+----+--------+--------------------+----------------+----------+----------------+--------------------+-----+------+--------------+----+
| 297|  295941|     ThinkPad Laptop|               1|    999.99|31-12-2019 16:24|64 Dogwood St, Po...|   12|999.99|      Portland|  16|
| 464|  296105|Lightning Chargin...|               1|     14.95|29-12-2019 17:57|134 Dogwood St, S...|   12| 14.95| San Francisco|  17|
| 532|  296169|              iPhone|               1|     700.0|10-12-2019 22:31|111 Hickory St, S...|   12| 700.0|       Seattle|  22|
| 628|  296263|    Wired Headphones|               1|     11.99|11-12-2019 18:04|229 Pine St, San ...|   12| 11.99| San Francisco|  18|
| 721|  296351|     ThinkPad Laptop|               1|    999.99|24-12-2019 17:57|168 10th St, Port...|   12|999.99|      Portland|  17|
|1203|  296811|34in Ultrawide Mo...|               1|    379.99|10-12-2019 07:39|485 11th St, Port...|   12|379.99|      Portland|   7|
|1395|  296992|Apple Airpods Hea...|               1|     150.0|09-12-2019 18:46|410 Washington St...|   12| 150.0|        Dallas|  18|
|1414|  297009|  Macbook Pro Laptop|               1|    1700.0|16-12-2019 08:07|779 Maple St, San...|   12|1700.0| San Francisco|   8|
|1431|  297025|34in Ultrawide Mo...|               1|    379.99|18-12-2019 12:04|836 Forest St, Bo...|   12|379.99|        Boston|  12|
|1670|  297251|              iPhone|               1|     700.0|19-12-2019 20:19|835 Main St, Aust...|   12| 700.0|        Austin|  20|
|1782|  297356|27in 4K Gaming Mo...|               1|    389.99|18-12-2019 22:01|769 14th St, Dall...|   12|389.99|        Dallas|  22|
|1982|  297548|USB-C Charging Cable|               1|     11.95|27-12-2019 23:04|24 Pine St, New Y...|   12| 11.95| New York City|  23|
|2037|  297596|       Flatscreen TV|               1|     300.0|10-12-2019 18:45|301 13th St, Los ...|   12| 300.0|   Los Angeles|  18|
|2563|  298104|AA Batteries (4-p...|               1|      3.84|16-12-2019 22:30|955 Johnson St, L...|   12|  3.84|   Los Angeles|  22|
|2746|  298285|Lightning Chargin...|               1|     14.95|21-12-2019 12:19|966 Lincoln St, S...|   12| 14.95| San Francisco|  12|
|2887|  298422|Lightning Chargin...|               1|     14.95|19-12-2019 20:24|249 Wilson St, Da...|   12| 14.95|        Dallas|  20|
|3431|  298934|    Wired Headphones|               1|     11.99|11-12-2019 10:28|400 Highland St, ...|   12| 11.99|       Seattle|  10|
|3469|  298972|    Wired Headphones|               1|     11.99|06-12-2019 14:32|80 Elm St, Los An...|   12| 11.99|   Los Angeles|  14|
|4135|  299597|Bose SoundSport H...|               1|     99.99|05-12-2019 10:29|606 Willow St, Ne...|   12| 99.99| New York City|  10|
|4244|  299700|AA Batteries (4-p...|               1|      3.84|20-12-2019 06:34|371 Cedar St, Dal...|   12|  3.84|        Dallas|   6|
+----+--------+--------------------+----------------+----------+----------------+--------------------+-----+------+--------------+----+
only showing top 20 rows

In [4]:
#Verify that all columns are properly loaded, and check for any unexpected null or 
# malformed entries during loading. 
missing_values = df.select([count(when(isnull(c) | isnan(c) , c)).alias(c) for c in df.columns])
missing_values.show()

+---+--------+-------+----------------+----------+----------+----------------+-----+-----+----+----+
|_c0|Order ID|Product|Quantity Ordered|Price Each|Order Date|Purchase Address|Month|Sales|City|Hour|
+---+--------+-------+----------------+----------+----------+----------------+-----+-----+----+----+
|  0|       0|      0|               0|         0|         0|               0|    0|    0|   0|   0|
+---+--------+-------+----------------+----------+----------+----------------+-----+-----+----+----+

In [1]:
# 1. Use PySpark to identify columns with missing values and decide whether to fill or 
# remove them. For numerical columns like Sales or Quantity Ordered, you may want 
# to fill missing values with the mean or median, or drop rows with missing values.

# numerical_columns = ["Sales"]
# for column in numerical_columns:
mean_value = df.select(mean(col('Sales'))).first()[0]
df = df.fillna({'Sales':mean_value})

critical_columns = ["Order ID", "Product", "Order Date"]
df = df.dropna(subset=critical_columns)

NameError: name 'df' is not defined

In [17]:
df.count()

185950

In [16]:
df = df.dropDuplicates()

In [18]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Order ID: integer (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity Ordered: integer (nullable = true)
 |-- Price Each: double (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Purchase Address: string (nullable = true)
 |-- Month: integer (nullable = true)
 |-- Sales: double (nullable = false)
 |-- City: string (nullable = true)
 |-- Hour: integer (nullable = true)

In [8]:
df = df.withColumn("Quantity Ordered", col("Quantity Ordered").cast("integer")).withColumn("Price Each", col("Price Each").cast("double")).withColumn("Sales", col("Sales").cast("double"))
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Order ID: integer (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity Ordered: integer (nullable = true)
 |-- Price Each: double (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Purchase Address: string (nullable = true)
 |-- Month: integer (nullable = true)
 |-- Sales: double (nullable = true)
 |-- City: string (nullable = true)
 |-- Hour: integer (nullable = true)

In [10]:
df = df.filter((col("Sales") >= 0) & (col("Price Each") >= 0) & (col("Quantity Ordered") >= 0))

In [21]:
df.count()

185950

In [24]:
total_sales_by_product = df.groupBy("Product").agg(sum("Sales").alias("Total Sales"))
total_sales_by_product.show()

+--------------------+------------------+
|             Product|       Total Sales|
+--------------------+------------------+
|    Wired Headphones|246651.93375999868|
|  Macbook Pro Laptop|         8037600.0|
|Apple Airpods Hea...|         2349150.0|
|              iPhone|         4794300.0|
|Lightning Chargin...|347094.15000000864|
|Bose SoundSport H...|1345565.4300000193|
|USB-C Charging Cable|286674.79376000515|
|AAA Batteries (4-...| 92740.82999999696|
|        20in Monitor|454148.71000000136|
|    27in FHD Monitor|1132424.5000000084|
|     Vareebadd Phone|          827200.0|
|34in Ultrawide Mo...|  2355558.00999999|
|            LG Dryer|          387600.0|
|AA Batteries (4-p...| 106300.0537599985|
|        Google Phone|         3319200.0|
|       Flatscreen TV|         1445700.0|
|  LG Washing Machine|          399600.0|
|27in 4K Gaming Mo...| 2435097.559999989|
|     ThinkPad Laptop|4129958.6999999797|
+--------------------+------------------+

In [26]:
output_path= "Sales data.csv"
pandas_df = df.toPandas()
pandas_df.to_csv(output_path, index=False)

In [35]:
print(pandas_df.isnull().sum())

_c0                 0
Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
Month               0
Sales               0
City                0
Hour                0
dtype: int64